/AideDD_Obsidian_Vault/Regles.old/

/esy_de_zermania_fiche_personnage.md
/.obsidian/

/.obsidian
/.obsidian/*
/.obsidian/plugins
/.obsidian/app.json
/.obsidian/appearance.json
/.obsidian/workspace.json
/.obsidian/core-plugins.json

/feuille personnage/

/*.pdf
/*.zip
/AideDD_Obsidian_Vault.zip
/AideDD_Obsidian_Vault/Archvillain_Games-Crypt_Dweller_Codex/Archvillain Games - Crypt Dweller Codex v1.2.pdf
/AideDD_Obsidian_Vault/Archvillain_Games-Crypt_Dweller_Codex/Archvillain Games - The Art of Death & Beyond.pdf